<!--<app-header></app-header>
 <app-news-container></app-news-container>
<app-greetings></app-greetings>-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
<span class="navbar-brand h1">GoTo</span>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active" routerLinkActive="active">
			<a class="nav-link" routerLink="/home">Home</a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="/log-in">Login</a>
		</li>
	</ul>
</nav>
<router-outlet></router-outlet>