<div class="container">
  <div class="row">
    <div class="col-auto">
      <h1>Nagyon gyönyörű bejelentkező felület</h1>
      <form novalidate class="form-inline mb-3">
          <input name="username" required ngModel #username="ngModel">
          <input name="password" required ngModel #password="ngModel">
		  
          <button type="button" (click)="logIn(username,password)" [disabled]="!username.valid" class="btn btn-primary mr-2">Log-in</button>
          <button type="button" (click)="register(username,password)" [disabled]="!username.valid" class="btn btn-primary mr-2">Register</button>
      </form>
    </div>
  </div>
</div>
