<div class="container">
  <div class="row">
    <div class="col-auto">
      <h1>to-do list</h1>
      <form novalidate class="form-inline mb-3">
          <input name="task" required ngModel #task="ngModel">
          <button type="button" (click)="addTask(task)" [disabled]="!task.valid" class="btn btn-primary mr-2">+ Add</button>
      </form>
      <ul class="list-group">
        <li *ngFor="let task of tasks; index as i" class="list-group-item">
          <span [ngClass]="{ s: task.done }"> {{ task.name }} </span>
          <button (click)="toogleTask(i)" class="btn">Toggle</button>
          <button (click)="removeTask(i)" class="btn">X</button>
          <span [ngClass]="{ s: task.done }"> {{ task.addedBy }} </span>
        </li>
      </ul>
    </div>
  </div>
</div>
